[defaults]
inventory = inventory.ini
host_key_checking = False
collections_path = ./collections
roles_path = ./roles
callbacks_enabled = profile_tasks

[ssh_connection]
pipelining = True
scp_if_ssh = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
